body {
  margin: 0;
  font-family: 'Karla', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  border: none;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  transition: background ease-in 150ms box-shadow ease-in 200ms;

}

.button:hover {
  /* font-weight: 400; */
}

.button.outline {
  background-color: transparent;
  border: 2px solid #00DD4B;
  box-shadow: 3px 1px 1px 1px #00DD4B;
  color: #00DD4B;
}

.button.outline:hover {
  color:hsl(140, 100%, 53%);
  box-shadow: none;
  border-color: hsl(140, 100%, 53%);
}

.button.solid {
  box-shadow: 3px 1px 1px 1px #00DD4B;
  background-color: #00DD4B;
}

.button.solid:hover {  
  background-color: hsl(140, 100%, 53%);
  box-shadow: none;
  color: #393939;
}

.contract_balances {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.contract_balance {
  text-align: center;
  background: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 200ms ease-in-out;
  flex-direction: column;
  gap: .3rem;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  border: 2px solid transparent;
}

.contract_balance_title {
  color: #1a1a1a;
  display: block;
  padding: .2rem .5rem;
  font-weight: 700;
  max-width: min-content;
  border-radius: 5px;
  background:hsl(140, 100%, 53%);
}

.contract_balance_value {
  /* background-color: ; */
}

.contract_balance:hover {
  border-color: hsl(140, 100%, 53%);
}